.navbar {
  width: 100%;
  min-height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;
  box-sizing: border-box;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
}

.cart {
  font-weight: 600;
}